* {
	box-sizing: border-box;
}

:focus,:active {
	outline: none;
}
a:focus,a:active{
	outline: none;
}

input::-ms-clear {display: none;}

body {
	font-family: 'fonts/Raleway-Regular.ttf';
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*Подключение шрифтов*/
@font-face {
	font-family: 'Raleway-Regular';
	src: url('fonts/Raleway-Regular.ttf');
}


@font-face {
	font-family: 'Montserrat-Bold';
	src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: 'Merriweather-Regular';
	src: url('fonts/Merriweather-Regular.ttf');
}

/*Свойства внутри класса HEADER_MAIN*/

.header {
	height: 806px;
	background-color: #f1efef;
	position: relative;
}

.logo {
	/*Общие свойства не зависимо от места расположения логотипа в макете*/
	width: 113px;
	height: 46px;
	border: 5px solid #170f1c;
	box-sizing: border-box;

	font-family: 'Montserrat-Bold';
	font-size: 17px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding: 3px 0; /*Выравнивание по высоте*/
}

.logo span {
	color: #12deb5;
}

.header__logo {	
	float: left; /*Теперь блок не занимает влю ширину*/

	position: relative;
	top: 65px;
	left: 10.4%;
}

.header__menu {
	height: 21px;
	width: 32px;
	float: right; /*Теперь блок не занимает влю ширину*/

	position: relative;
	top: 80px;
	right: 10.6%;

	background-color: red; /*Временный цвет для отображения на экране*/
}

.header__text {
	clear: both;

	position: relative;
	top: calc(305px - 46px);

	padding: 0 10.4%; /*Чтобы при сужении экрана буквы не прилипали к краям*/
}

.header__text p {
	font-family: 'Montserrat-Bold';
	font-size: 45px;
	line-height: 56px;	
	text-transform: uppercase;
	text-align: center;	
	color: #505050;
	text-shadow: 4px 9px 10px rgba(0, 0, 0, 0.24);	
}

.header__text span {
	background-color:  rgba(118, 244, 234, 0.5);
	padding: 0 10px;
}

.header__button {
	width: 232px;
	height: 53px;

	text-decoration: none;
	font-family: 'Merriweather-Regular';
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 0;
	color: #3c3c3d;
	
	box-sizing: border-box;
	border: 2px solid #777879;

	background-color: transparent;
	
	float: left;
	position: relative;
	top: calc(560px - 46px - 111px);
	left: 42%;
}

.header__img1 {
	width: 68px;
	height: 69px;
	
	position: absolute;
	bottom: 136px;
	right: 17.2%;
}

.header__img2 {	
	position: absolute;
	bottom: 155px;
	right: 16.9%;
}



.about_us {
	min-height: 985px;
	background-color: #f8fafa;
}

.title_h2 {
	font-family: 'Montserrat-Bold';
	color: #181919;
	font-size: 38px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 129px;
}

.title_p {
	font-family: 'Merriweather-Regular';
	color: #000000;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 13px;
	margin-bottom: 85px;
}

.about_us__slider {
	height: 630px;
	width: 50%;
	float: left;
}

.about_us__slider .wrap {
	position: relative;
	top: 60px;
	left: 185px;
	height: 540px;
	width: 480px;
}

.about_us__slider .wrap .ground {
	position: absolute;
	top: 36px;
	height: 410px;
	width: inherit;
	background-color: #ecedef;
}

.about_us__slider .slide {
	position: absolute;
	left: 50%;
	margin-left: -196px;
	width: 392px;
	height: 483px;
	box-shadow: 0 0 30px rgba(20, 20, 20, 0.13);
}

.about_us__slider .wrap input {
	display: none;
}

.about_us__slider .wrap .control {
	position: absolute;
	left: 50%;
	margin-left: -25px; 
	bottom: 0;
	width: 50px;
	height: 10px;
}

.about_us__slider .wrap .control label {
	display: inline-block;
	position: relative;
	margin-left: -1px;
	width: 10px;
	height: 10px;
	background-color: #d0d0d0;
}

#slide1:checked ~ .control label:nth-of-type(1) {
	background-color: #71f6eb;
}


.about_us__article {
	min-height: 630px;
	width: 50%;
	float: right;
	box-sizing: border-box;
	padding-top: 62px;
	padding-left: 3.7%;
	padding-right: 12.8%;
}

.about_us__article h3 {
	font-family: 'Merriweather-Regular';
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.about_us__article p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 28px;
	text-align: justify;
	margin-bottom: 40px;
}

/*Чтобы при увеличении контента в article блок about_us мог увеличивать высоту*/
.float_both {
	height: 20px;
	clear: both;
}



.featured-works {
	min-height: 1166px;
	background-color: #ffffff;
	padding-bottom: 20px;
}

.featured-works main {
	box-sizing: border-box;
	width: 100%;
	min-height: 750px;
	padding: 0 10.3%;
	text-align: center;
}

.featured-works a {
	display: inline-block;
	width: 370px;
	height: 359px;
	margin: 5px 4px;

	transition: all .5s ease;
}

.featured-works a:last-child {
	clear: both;
}

.featured-works a:hover {
	transform: scale(1.05);
}




.our-services {
	min-height: 1618px;
	background-color: #f9fbfb;
}

.our-services main {
	box-sizing: border-box;
	width: 100%;
	min-height: 1300px;
	padding: 0 10.3%;
	text-align: center;
}

.our-services main div {
	display: inline-block;
	margin: 4px 3px;
}

/*-----------------------------------------------------------*/
.our-services .pos {
	position: relative;
}
.our-services .pos:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	transition: opacity 1.0s;
	opacity: 0;
}
.our-services .pos:hover:before {
	opacity: 1;
}

.our-services .services1,
.our-services .services1:before {	
	width: 652px;
	height: 422px;
}
.our-services .services1 {
	background-image: url(img/Our1.jpg);	
}
.our-services .services1:before {
	background-color: #71f5ea;	
}

.our-services .services2,
.our-services .services2:before {
	width: 474px;
	height: 422px;
}
.our-services .services2 {
	background-image: url(img/Our2.jpg);
}
.our-services .services2:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services3,
.our-services .services3:before {
	width: 651px;
	height: 370px;
}
.our-services .services3 {
	background-image: url(img/Our3.jpg);
}
.our-services .services3:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services4,
.our-services .services4:before {
	width: 472px;
	height: 370px;
}
.our-services .services4 {
	background-image: url(img/Our4.jpg);
}
.our-services .services4:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services5,
.our-services .services5:before {
	width: 472px;
	height: 370px;
}
.our-services .services5 {
	background-image: url(img/Our5.jpg);
}
.our-services .services5:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services6,
.our-services .services6:before {
	width: 651px;
	height: 370px;
}
.our-services .services6 {
	background-image: url(img/Our6.jpg);
}
.our-services .services6:before {
	background-color: rgba(0, 0, 0, 0.7);
}


.textBlok {
	text-align: left;

	position: absolute;
	bottom: 65px;
	left: 65px;
	
	transition: opacity 0.7s;
	opacity: 0;
}
.services1 .textBlok {
	top: 58px;
}

.services1 .textBlok h3 {
	color: #000000;
	margin-bottom: 28px;
	padding-right: 140px;
}
.textBlok h3 {
	font-family: 'Merriweather-Regular';
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;

	color: #ffffff;
	padding-right: 23%;
	margin-bottom: 28px;
}

.services1 .textBlok p {
	color: #000000;
	margin-bottom: 28px;
	padding-right: 140px;		
}
.textBlok p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 28px;
	text-align: left;

	color: #b7b7b7;
	padding-right: 23%;
	margin-bottom: 28px;
}

.services1 .textBlok a {
	width: 25px;

	color: #000000;	
}
.textBlok a {
	position: relative;
	display: inline-block;

	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway-Regular';
	font-size: 19px;
	font-weight: 300;
	line-height: 38px;
	color: #b7b7b7;
	padding-left: 10px;
	
	width: 170px;
	height: 40px;

	border: 1px solid transparent;
	border-radius: 10px;
	transition: border-color .5s,
}
/*For Transform width and height*/
.textBlok a:before {
	content: '';
	background-image: url(img/Strelka.png);

	width: 0px;
	height: 0px;

	position: absolute;
	top: 10px;
	right: 10px;
	transition: width .5s,
				height .5s;
}
/*For Transform border-color*/
.services1 .textBlok a:hover {
	border: 1px solid #000000;
}
.textBlok a:hover {
	border: 1px solid #b7b7b7;
}

.services1 .textBlok a:hover:before {
	content: none;
}
/*For Transform width and height*/
.textBlok a:hover:before {
	width: 22px;
	height: 15px;
}

.our-services .pos:hover .textBlok {	
	opacity: 1;
}

/*----------------------------------------------------------*/

.small-team {
	min-height: 1315px;
	background-color: #ffffff;
}

.small-team main {
	box-sizing: border-box;
	width: 100%;
	min-height: 1119px;
	padding: 0 10.3%;
	padding-bottom: 20px;
	text-align: center;
}

.small-team .pos {
	position: relative;
	display: inline-block;
	width: 370px;
	height: 440px;
	margin: 6px 4px;
}

.small-team .pos > .romb {
	position: absolute;
	bottom: 238px;
	left: 30px;
	/*CSS треугольник*/
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid #6ef5ea;
	opacity: 0;
}

.small-team .pos > .square {
	position: absolute;
	bottom: 17px;
	left: 17px;
	width: 335px;
	height: 242px;
	background-color: #6ef5ea;
	text-align: left;
	box-sizing: border-box;
	padding: 40px;
	opacity: 0;
}

.small-team .pos:hover .romb1,
.small-team .pos:hover .romb2,
.small-team .pos:hover .romb3,
.small-team .pos:hover .romb4,
.small-team .pos:hover .romb5,
.small-team .pos:hover .romb6 {
	opacity: 1;
	transition: opacity 2s;
}
.small-team .pos:hover .square1,
.small-team .pos:hover .square2,
.small-team .pos:hover .square3,
.small-team .pos:hover .square4,
.small-team .pos:hover .square5,
.small-team .pos:hover .square6 {
	opacity: 1;
	transition: opacity 1s;
}

.small-team .pos > .square > h1 {
	font-family: 'Merriweather-Regular';
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.small-team .pos > .square > h1 > span{
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	text-transform: none;
	color: #767070;
}

.small-team .pos > .square > p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	margin-bottom: 30px;
}

.small-team .pos > .square > .social {
	height: 20px;
}

.small-team .pos > .square > .social > li {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-left: -4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px 15px;

}

.small-team .pos > .square > .social > li:nth-child(1) {
	background-image: url('img/facebook-f-brands.svg');
}
.small-team .pos > .square > .social > li:nth-child(2) {
	background-image: url('img/twitter-brands.svg');
}
.small-team .pos > .square > .social > li:nth-child(3) {
	background-image: url('img/instagram-brands.svg');
}
.small-team .pos > .square > .social > li:nth-child(4) {
	background-image: url('img/envelope-regular.svg');
}

.small-team .pos > .square > .social > li:nth-child(1):hover,
.small-team .pos > .square > .social > li:nth-child(2):hover,
.small-team .pos > .square > .social > li:nth-child(3):hover,
.small-team .pos > .square > .social > li:nth-child(4):hover {
	background-size: 100% 100%;
}

.small-team .pos > .square > .social > li > a {
	display: block;
	width: 30px;
	height: 15px;
}



.what-they-says {
	min-height: 923px;
	background-color: #f9fbfb;
}

.what-they-says .wrap-left,
.what-they-says .wrap-right {
	height: 600px;
}

.what-they-says .wrap-left {
	float: left;
	width: 43.3%;
}

.what-they-says .wrap-right {
	float: left;
	width: 56.7%;
	min-width: 666px;	
}

.what-they-says .wrap-left .wrap {
	position: relative;
	top: 50px;
	left: 149px;
	height: 470px;
	width: 392px;
}

.what-they-says .wrap-left .wrap .ground {
	position: absolute;
	top: 25px;
	height: 362px;
	width: inherit;
	background-color: #ecedef;
}

.what-they-says .wrap-left .wrap .slide {
	position: absolute;
	left: 50%;
	margin-left: -159px;
	width: 319px;
	height: 410px;
	box-shadow: 0 0 24px rgba(20, 20, 20, 0.17);
}

.what-they-says .wrap-left .wrap input {
	display: none;
}

.what-they-says .wrap-left .wrap .control {
	position: absolute;
	left: 50%;
	margin-left: -25px; 
	bottom: 0;
	width: 50px;
	height: 10px;
}

.what-they-says .wrap-left .wrap .control label {
	display: inline-block;
	position: relative;
	margin-left: -1px;
	width: 10px;
	height: 10px;
	background-color: #d0d0d0;
}

/*Этот сладер СПОРИТ с верхним подобным слайдером.
Родственные связи!!!! label:nth-of-type(1)*/
#slide1_1:checked ~ .control label:nth-of-type(1) {
	background-color: #71f6eb;
}

.what-they-says .wrap-right .wrap {
	position: relative;
	width: 666px;
	height: 446px;
	margin-top: 75px;
}

.what-they-says .wrap-right .wrap .info {
	width: inherit;
	height: 362px;
	background-color: #eaebed;
	box-sizing: border-box;
	padding: 90px 100px 20px;
	text-align: center;
}

.what-they-says .wrap-right .wrap .info h3 {
	font-family: 'Merriweather-Regular';
	font-size: 20px; 
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.what-they-says .wrap-right .wrap .info span {
	font-family: 'Merriweather-Regular';
	font-size: 15px;
	line-height: 28px;
	text-transform: uppercase;
	color: #787878;
	font-style: italic;
}
.what-they-says .wrap-right .wrap .info p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 27px;
	color: #787878;
	margin-bottom: 25px;
}

.what-they-says .wrap-right .wrap .info ul {
	width: 130px;
	height: 18px;
	margin: 0 auto;
}

.what-they-says .wrap-right .wrap .info ul li {
	display: inline-block;
	width: 18px;
	height: inherit;
	margin:0 1px 0;
}

.what-they-says .wrap-right .wrap .control {
	position: absolute;
	bottom: 0; 
	right: 0;
	width: 135px;
	height: 54px;	
}

.what-they-says .wrap-right .wrap .control .btn {
	display: inline-block;
	width: 53px;
	height: inherit;
	background-color: #ffffff;
	box-shadow: 8px 0 11px rgba(20, 20, 21, 0.05);
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: center;
}
.what-they-says .wrap-right .wrap .control .btn:hover {
	background-color: #71f6eb;
}

.what-they-says .wrap-right .wrap .control .left {
	margin-right: 25px;
}

.what-they-says .wrap-right .wrap .control .right {
	background-image: url(img/angle-right-solid.svg);
}

.what-they-says .wrap-right .wrap .control .right:hover {
	background-image: url(img/angle-right-solidH.svg);
}

.what-they-says .wrap-right .wrap .control .left {
	background-image: url(img/angle-left-solid.svg);
}

.what-they-says .wrap-right .wrap .control .left:hover {
	background-image: url(img/angle-left-solidH.svg);
}



.brand-name {
	min-height: 387px;
	padding: 5.5% 10.4%;
	box-sizing: border-box;
}

.brand-name .wrap-sprite {
	max-width: 1142px;
	min-height: 182px;
	text-align: center;
}

.brand-name li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.brand-name .down {
	min-height: 70px;
}

.brand-name .sprite {
	display: inline-block;
	width: 145px;
	height: 70px;
	margin-right: 3.5%;
	background-image: url('img/sprait.png');
	background-repeat: no-repeat;
}
.brand-name .sprite a {
	display: block;
	width: inherit;
	height: inherit;
}

.brand-name .icon1 {
	background-position: -317px 4px;
}
.brand-name .icon1:hover {
	background-position: -317px -192px;
}

.brand-name .icon2 {
	background-position: -517px 8px;
}
.brand-name .icon2:hover {
	background-position: -517px -188px;
}

.brand-name .icon3 {
	background-position: -727px 4px;
}
.brand-name .icon3:hover {
	background-position: -727px -192px;
}

.brand-name .icon4 {
	background-position: 8px -100px;
}
.brand-name .icon4:hover {
	background-position: 8px -296px;
}

.brand-name .icon5 {
	background-position: -195px -97px;
}
.brand-name .icon5:hover
 {
	background-position: -195px -293px;
}

.brand-name .icon6 {
	background-position: -398px -97px
}
.brand-name .icon6:hover {
	background-position: -398px -293px
}

.brand-name .icon7 {
	background-position: -600px -97px;
}
.brand-name .icon7:hover {
	background-position: -600px -293px;
}

.brand-name .icon8 {
	background-position: -803px -106px;
}
.brand-name .icon8:hover {
	background-position: -803px -302px;
}

.brand-name .icon9 {
	background-position: -1004px -106px;
	margin-right: 0;
}
.brand-name .icon9:hover {
	background-position: -1004px -302px;
	margin-right: 0;
}



.contact-us {
	min-height: 704px;
	padding: 8.5% 10.4%;
	box-sizing: border-box;
	background-image: url('img/Fon.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contact-us .left_cont {
	float: left;
	width: 614px;
	height: 460px;
	padding: 17px 31px 39px;
	font-family: 'Raleway-Regular';
    font-size: 15px;
    line-height: 42px;
    color: #fff;
	background-color: rgba(74, 88, 98, 0.71);
}

.contact-us .left_cont hr {
	border: none; /* Убираем границу для браузера Firefox */
    color: #fff; /* Цвет линии для остальных браузеров */
    background-color: #fff; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.contact-us .left_cont input,
.contact-us .left_cont textarea {
	width: 75%;
	margin-left: 2%;
    height: 30px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #fff;
    border: none;
	background-color: transparent;
}

.contact-us .left_cont textarea {
	display: block;
	width: 100%;
	height: 80px;
	line-height: 20px;
	resize: none;
}

.contact-us .left_cont input[type=submit] {
	position: relative;
	left: 0;
	bottom: 0;
	width: 244px;
	height: 53px;
	background-color: #6eeee4;
	font-family: 'Montserrat-Regular.ttf';
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 2px;
	color: #000;
	margin-left: 0;
	margin-top: 38px;
}

.contact-us .right_cont {
	float: right;
	width: 500px;
	height: 460px;
	padding: 22.5px;
	background-color: rgba(74, 88, 98, 0.71);
}

.contact-us .right_cont .info_cont {
	width: 455px;
	height: 191px;
}

.contact-us .right_cont .info_cont p {
	font-family: 'Raleway-Regular';
	font-size: 15px;
	line-height: 24px;
	color: #fff;
}
.contact-us .right_cont .info_cont .marg {
	margin-bottom: 24px;
}

.contact-us .right_cont .map {
	width: 455px;
	height: 224px;
	background-color: lightgrey;
}




.footer-main {
	min-height: 312px;
	background-color: #262b2e;
}

@media screen and (max-width: 1370px) {
	.our-services .services2,
	.our-services .services4,
	.our-services .services5,
	.our-services .services2:before,
	.our-services .services4:before,
	.our-services .services5:before {
		width: 651px;
	}

	.about_us__slider {
		width: 100%;
		float: none;
	}

	.about_us__article {
		width: 100%;
		float: none;
	}
	
	.about_us__slider .wrap {
	left: 50%;
	margin-left: -240px;
	}

	.contact-us .left_cont,
	.contact-us .right_cont {
		float: none;
		width: 100%;	
	}

	.contact-us .left_cont {
		margin-bottom: 50px;
	}

	.contact-us .right_cont .map {
	width: 100%;
}