body {
	font-family: 'fonts/Raleway-Regular.ttf';
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*Подключение шрифтов*/
@font-face {
	font-family: 'Raleway-Regular';
	src: url('fonts/Raleway-Regular.ttf');
}


@font-face {
	font-family: 'Montserrat-Bold';
	src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: 'Merriweather-Regular';
	src: url('fonts/Merriweather-Regular.ttf');
}

/*Свойства внутри класса HEADER_MAIN*/

.header {
	height: 806px;
	background-color: #f1efef;
	position: relative;
}

.logo {
	/*Общие свойства не зависимо от места расположения логотипа в макете*/
	width: 113px;
	height: 46px;
	border: 5px solid #170f1c;
	box-sizing: border-box;

	font-family: 'Montserrat-Bold';
	font-size: 17px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding: 3px 0; /*Выравнивание по высоте*/
}

.logo span {
	color: #12deb5;
}

.header__logo {	
	float: left; /*Теперь блок не занимает влю ширину*/

	position: relative;
	top: 65px;
	left: 10.4%;
}

.header__menu {
	height: 21px;
	width: 32px;
	float: right; /*Теперь блок не занимает влю ширину*/

	position: relative;
	top: 80px;
	right: 10.6%;

	background-color: red; /*Временный цвет для отображения на экране*/
}

.header__text {
	clear: both;

	position: relative;
	top: calc(305px - 46px);

	padding: 0 10.4%; /*Чтобы при сужении экрана буквы не прилипали к краям*/
}

.header__text p {
	font-family: 'Montserrat-Bold';
	font-size: 45px;
	line-height: 56px;	
	text-transform: uppercase;
	text-align: center;	
	color: #505050;
	text-shadow: 4px 9px 10px rgba(0, 0, 0, 0.24);	
}

.header__text span {
	background-color:  rgba(118, 244, 234, 0.5);
	padding: 0 10px;
}

.header__button {
	width: 232px;
	height: 53px;

	text-decoration: none;
	font-family: 'Merriweather-Regular';
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 0;
	color: #3c3c3d;
	
	box-sizing: border-box;
	border: 2px solid #777879;

	background-color: transparent;
	
	float: left;
	position: relative;
	top: calc(560px - 46px - 111px);
	left: 42%;
}

.header__img1 {
	width: 68px;
	height: 69px;
	
	position: absolute;
	bottom: 136px;
	right: 17.2%;
}

.header__img2 {	
	position: absolute;
	bottom: 155px;
	right: 16.9%;
}



.about_us {
	min-height: 985px;
	background-color: #f8fafa;
}

.title_h2 {
	font-family: 'Montserrat-Bold';
	color: #181919;
	font-size: 38px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 129px;
}

.title_p {
	font-family: 'Merriweather-Regular';
	color: #000000;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 13px;
	margin-bottom: 85px;
}

.about_us__slider {
	height: 630px;
	width: 50%;
	float: left;
	outline: 1px solid black;
}

.about_us__article {
	min-height: 630px;
	width: 50%;
	float: right;
	box-sizing: border-box;
	padding-top: 62px;
	padding-left: 3.7%;
	padding-right: 12.8%;
}

.about_us__article h3 {
	font-family: 'Merriweather-Regular';
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.about_us__article p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 28px;
	text-align: justify;
	margin-bottom: 40px;
}

/*Чтобы при увеличении контента в article блок about_us мог увеличивать высоту*/
.float_both {
	clear: both;
}



.featured-works {
	min-height: 1166px;
	background-color: #ffffff;
	padding-bottom: 20px;
}

.featured-works main {
	box-sizing: border-box;
	width: 100%;
	min-height: 750px;
	padding: 0 10.3%;
	text-align: center;
}

.featured-works a {
	display: inline-block;
	width: 370px;
	height: 359px;
	margin: 5px 4px;

	transition: all .5s ease;
}

.featured-works a:last-child {
	clear: both;
}

.featured-works a:hover {
	transform: scale(1.05);
}




.our-services {
	min-height: 1618px;
	background-color: #f9fbfb;
}

.our-services main {
	box-sizing: border-box;
	width: 100%;
	min-height: 1300px;
	padding: 0 10.3%;
	text-align: center;
}

.our-services main div {
	display: inline-block;
	margin: 4px 3px;
}

/*-----------------------------------------------------------*/
.our-services .pos {
	position: relative;
}
.our-services .pos:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	transition: opacity 1.0s;
	opacity: 0;
}
.our-services .pos:hover:before {
	opacity: 1;
}

.our-services .services1,
.our-services .services1:before {	
	width: 652px;
	height: 422px;
}
.our-services .services1 {
	background-image: url(img/Our1.jpg);	
}
.our-services .services1:before {
	background-color: #71f5ea;	
}

.our-services .services2,
.our-services .services2:before {
	width: 474px;
	height: 422px;
}
.our-services .services2 {
	background-image: url(img/Our2.jpg);
}
.our-services .services2:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services3,
.our-services .services3:before {
	width: 651px;
	height: 370px;
}
.our-services .services3 {
	background-image: url(img/Our3.jpg);
}
.our-services .services3:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services4,
.our-services .services4:before {
	width: 472px;
	height: 370px;
}
.our-services .services4 {
	background-image: url(img/Our4.jpg);
}
.our-services .services4:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services5,
.our-services .services5:before {
	width: 472px;
	height: 370px;
}
.our-services .services5 {
	background-image: url(img/Our5.jpg);
}
.our-services .services5:before {
	background-color: rgba(0, 0, 0, 0.7);
}

.our-services .services6,
.our-services .services6:before {
	width: 651px;
	height: 370px;
}
.our-services .services6 {
	background-image: url(img/Our6.jpg);
}
.our-services .services6:before {
	background-color: rgba(0, 0, 0, 0.7);
}


.textBlok {
	text-align: left;

	position: absolute;
	bottom: 65px;
	left: 65px;
	
	transition: opacity 0.7s;
	opacity: 0;
}
.services1 .textBlok {
	top: 58px;
}

.services1 .textBlok h3 {
	color: #000000;
	margin-bottom: 28px;
	padding-right: 140px;
}
.textBlok h3 {
	font-family: 'Merriweather-Regular';
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;

	color: #ffffff;
	padding-right: 23%;
	margin-bottom: 28px;
}

.services1 .textBlok p {
	color: #000000;
	margin-bottom: 28px;
	padding-right: 140px;		
}
.textBlok p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 28px;
	text-align: left;

	color: #b7b7b7;
	padding-right: 23%;
	margin-bottom: 28px;
}

.services1 .textBlok a {
	width: 25px;

	color: #000000;	
}
.textBlok a {
	position: relative;
	display: inline-block;

	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway-Regular';
	font-size: 19px;
	font-weight: 300;
	line-height: 38px;
	color: #b7b7b7;
	padding-left: 10px;
	
	width: 170px;
	height: 40px;

	border: 1px solid transparent;
	border-radius: 10px;
	transition: border-color .5s,
}
/*For Transform width and height*/
.textBlok a:before {
	content: '';
	background-image: url(img/Strelka.png);

	width: 0px;
	height: 0px;

	position: absolute;
	top: 10px;
	right: 10px;
	transition: width .5s,
				height .5s;
}
/*For Transform border-color*/
.services1 .textBlok a:hover {
	border: 1px solid #000000;
}
.textBlok a:hover {
	border: 1px solid #b7b7b7;
}

.services1 .textBlok a:hover:before {
	content: none;
}
/*For Transform width and height*/
.textBlok a:hover:before {
	width: 22px;
	height: 15px;
}

.our-services .pos:hover .textBlok {	
	opacity: 1;
}

/*----------------------------------------------------------*/

.small-team {
	min-height: 1315px;
	background-color: #ffffff;
}

.small-team main {
	box-sizing: border-box;
	width: 100%;
	min-height: 1119px;
	padding: 0 10.3%;
	padding-bottom: 20px;
	text-align: center;
}

.small-team .pos {
	position: relative;
	display: inline-block;
	width: 370px;
	height: 440px;
	margin: 6px 4px;
}

.small-team .pos > .romb {
	position: absolute;
	bottom: 238px;
	left: 30px;
	/*CSS треугольник*/
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid #6ef5ea;
	opacity: 0;
}

.small-team .pos > .square {
	position: absolute;
	bottom: 17px;
	left: 17px;
	width: 335px;
	height: 242px;
	background-color: #6ef5ea;
	text-align: left;
	box-sizing: border-box;
	padding: 40px;
	opacity: 1;
}

.small-team .pos:hover .romb1,
.small-team .pos:hover .romb2,
.small-team .pos:hover .romb3,
.small-team .pos:hover .romb4,
.small-team .pos:hover .romb5,
.small-team .pos:hover .romb6 {
	opacity: 1;
	transition: opacity 2s;
}
.small-team .pos:hover .square1,
.small-team .pos:hover .square2,
.small-team .pos:hover .square3,
.small-team .pos:hover .square4,
.small-team .pos:hover .square5,
.small-team .pos:hover .square6 {
	opacity: 1;
	transition: opacity 1s;
}

.small-team .pos > .square > h1 {
	font-family: 'Merriweather-Regular';
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.small-team .pos > .square > h1 > span{
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	text-transform: none;
	color: #767070;
}

.small-team .pos > .square > p {
	font-family: 'Raleway-Regular';
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	margin-bottom: 30px;
}

.small-team .pos > .square > .social {
	height: 20px;
}

.small-team .pos > .square > .social > li {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-left: -4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px 15px;

}

.small-team .pos > .square > .social > li:nth-child(1) {
	background-image: url('img/facebook-f-brands.svg');
}
.small-team .pos > .square > .social > li:nth-child(2) {
	background-image: url('img/twitter-brands.svg');
}
.small-team .pos > .square > .social > li:nth-child(3) {
	background-image: url('img/instagram-brands.svg');
}
.small-team .pos > .square > .social > li:nth-child(4) {
	background-image: url('img/envelope-regular.svg');
}

.small-team .pos > .square > .social > li:nth-child(1):hover,
.small-team .pos > .square > .social > li:nth-child(2):hover,
.small-team .pos > .square > .social > li:nth-child(3):hover,
.small-team .pos > .square > .social > li:nth-child(4):hover {
	background-size: 100% 100%;
}

.small-team .pos > .square > .social > li > a {
	display: block;
	width: 30px;
	height: 15px;
}






.what-they-says {
	min-height: 923px;
	background-color: #f9fbfb;
}

.brand-name {
	min-height: 387px;
}

.contact-us {
	min-height: 704px;
	background-image: url('img/Fon.jpg');
}

.footer-main {
	min-height: 312px;
	background-color: #262b2e;
}

@media screen and (max-width: 1370px) {
	.our-services .services2,
	.our-services .services4,
	.our-services .services5,
	.our-services .services2:before,
	.our-services .services4:before,
	.our-services .services5:before {
		width: 651px;
	}
	
}